name: Energy Orchestrator
version: "0.0.0.1"
slug: energy_orchestrator
description: Add-on met UI voor toekomstige energie-optimisatie.
arch:
  - amd64
startup: services
boot: auto
ingress: true
ingress_port: 8099
panel_icon: mdi:lightning-bolt
panel_title: Energy Orchestrator
init: true
