name: Energy Orchestrator
version: "0.0.0.25"
slug: energy_orchestrator
description: Flask UI voor toekomstige energie-optimisatie.
arch:
  - amd64
startup: services
boot: auto
ingress: true
ingress_port: 8099
panel_icon: mdi:lightning-bolt
panel_title: Energy Orchestrator
init: false
build_from:
  amd64: ghcr.io/home-assistant/amd64-base:3.22

homeassistant_api: true

options:
  db_host: core-mariadb
  db_user: energy_orchestrator
  db_password: ""
  db_name: energy_orchestrator

schema:
  db_host: str
  db_user: str
  db_password: str
  db_name: str
